.wrapper-all {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    align-items: start;
    overflow: hidden;
    margin-bottom: 60px;
}

.allcourses-title {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(204, 204, 204) 0px 0px 6px;
    margin: 25px 0;
    position: relative;
    /* padding: 15px 20px 20px; */
    grid-column: 1 / -1;
}

.allcourses-title header {
    position: relative;
    height: 45px;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 20px;
    line-height: 25px;
}

.input-search {
    padding: 8px 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 350px;
    vertical-align: middle;
    width: 100%;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-search {
    position: absolute;
    top: 71px;
    right: 220px;
    background: transparent;
    font-size: 20px;
    max-width: 200px;
    width: 100%;
    border: none;
    overflow: hidden;
}

.number-course {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 14px;
    color: #333;
    padding: 0 15px;
    border-radius: 30px;
    line-height: 30px;
    background-color: #f2f2f2;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 20px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4caf50;
    color: white;
    border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.return-home-course {
    display: flex;
    justify-content: flex-end;
    color: #cf711f;
    position: absolute;
    bottom: 30px;
    left: 20px;
}

form.example {
    margin: auto;
    max-width: 400px;
}

form.example input[type="text"] {
    padding: 8px;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 25px;
    float: right;
    width: 100%;
    background: #f1f1f1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
