.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;

    /* margin-bottom: 9.6rem; */
}

/* .grid:last-child {
    margin-bottom: 0;
  } */

.grid:not(:last-child) {
    margin-bottom: 9.6rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}

/* .grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
  } */

.grid--center-v {
    align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: 700;
    color: #333;
    /* color: #45260a; */
    /* color: #343a40; */
    letter-spacing: -0.5px;
}

.heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}

.heading-tertiary {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.subheading {
    display: block;
    font-size: 2.6rem;
    font-weight: 500;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

.button,
.button:link,
.button:visited {
    display: inline-block;

    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;

    border: none;
    cursor: pointer;
    font-family: inherit;

    transition: all 0.3s;
}

.button--full {
    background-color: #e67e22;
    color: #fff;
}

.button--full:link,
.button--full:visited {
    background-color: #e67e22;
    color: #fff;
}

.button--full:hover,
.button--full:active {
    background-color: #cf711f;
}

.button--outline {
    background-color: #fff;
    color: #555;
    border: 1px solid #e67e22;
}

.button--outline:link,
.button--outline:visited {
    background-color: #fff;
    color: #555;
    border: 1px solid #e67e22;
}

.button--outline:hover,
.button--outline:active {
    background-color: #fdf2e9;

    /* border: 3px solid #fff; */

    /* Trick to add border inside */
    box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
    background-color: #45260a;
    color: #fdf2e9;
    align-self: end;
    padding: 1.2rem;
}

.btn--form:hover {
    background-color: #fff;
    color: #555;
}

.link:link,
.link:visited {
    display: inline-block;
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all 0.3s;
}

.link:hover,
.link:active {
    color: #cf711f;
    border-bottom: 1px solid transparent;
}
